# Entornos virtuales
.venv/
env/
venv/

# Variables de entorno (Secretos)
.env
.env.*
!.env.example

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs y SO
.vscode/
.idea/
.DS_Store

# Archivos de logs o estado
*.log
*.sqlite
*.db